<div class="clients container">

    <button ng-click="clientsCtrl.logout()">Logout</button>
    
    <form name="formHorizontal" class="formHorizontal" ng-submit="formHorizontal.$valid" novalidate>
        <fieldset class="fieldsettings">
            <div class="row ">
                <a href=" " class="col-md-11 pull-right ">
                    <button id="Cancel" name="Cancel " class="btn btn-danger btn-lg pull-right">cancel</button>
                </a>
                <a href=" ">
                    <button class="btn btn-lg btn-success newClient pull-right">add client</button>
                </a>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">First Name <span class="required">(Required)</span></label>
                <input ng-model="clientsCtrl.client.firstName" id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control" required>

               <label class="control-label" for="name">Last Name <span class="required">(Required)</span></label>
                <input ng-model="clientsCtrl.client.lastName" id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control" required>

                <label class="control-label" for="pet">Pet's Name(s)</label>
                <input ng-model="clientsCtrl.client.pets" id="pet" name="pet" type="text" placeholder="Pet's Name(s)" class="form-control" required>

                <label class="control-label" for="email">Email <span class="required">(Required)</span></label>
                <input ng-model="clientsCtrl.client.email" id="email" name="email" type="email" placeholder="email@example.com" class="form-control" required>

                <label class="control-label" for="phone">Phone Number</label>
                <input ng-model="clientsCtrl.client.phone" id="phone" name="phone" type="text" placeholder="555-867-5309" class="form-control">

                <label class="control-label" for="address">Street Address</label>
                <input ng-model="clientsCtrl.client.address" id="address" name="address" type="text" placeholder="123 Street Name" class="form-control">

                <label class="control-label" for="city">City</label>
                <input ng-model="clientsCtrl.client.city" id="city" name="city" type="text" placeholder="City Name" class="form-control">

                <label class="control-label" for="state">State</label>
                <input ng-model="clientsCtrl.client.state" id="state" name="state" type="text" placeholder="State" class="form-control">

                <label class="control-label" for="zip">Zip Code</label>
                <input ng-model="clientsCtrl.client.zip" id="zip" name="zip" type="text" placeholder="Zip Code" class="form-control">

                <button ng-click="clientsCtrl.addClient()" id="Submit" name="Submit" class="btn btn-primary btn-lg">submit</button>
            </div>
        </fieldset>
    </form>
    <pre>{{clientsCtrl.client | json}}</pre>


    <div class="clients-container">
        <span class="clients-title">Clients</span>
        <hr>
        <div class="no-clients" ng-if="clientsCtrl.clients.length === 0">
            <span>You haven't added any clients yet</span>
        </div>

        <div ng-repeat="client in clientsCtrl.clientList track by client.id" class="clients-list">
            <div class="client-card">
                {{client.id}}
                <p class="client-name">{{client.firstName}} {{client.lastName}}</p>
                <p class="client-pets">Pets: {{client.pets}}</li>
                <p class="client-phone">Phone:<a href="tel: {{ client.phone }}"> {{client.phone}}</a></p>
                <p class="client-email">E-mail:<a href="mailto: {{client.email}}"> {{ client.email }}</a></p>
                <p class="client-address">Address:<a target="blank" href="http://maps.google.com/?q={{ client.street }} {{ client.city }} {{client.state}} {{client.zip }}"> {{ client.address }}, {{ client.city }} {{client.state}} {{client.zip }}</a></p>
                <a ui-sref="newvisit({user: client.user.$id, clientId: client.$id}) " class="btn btn-md btn-success new-client-visit-buttpn">new visit</a>
                <a ng-click="client.editClient(client) " class="btn btn-md btn-info edit-client-button">edit</a>
                <a ng-click="client.deleteClient(client) " class="btn btn-md btn-danger delete-client-button">delete</a>
            </div>
        </div>
    </div>

</div>