.clients {
    .client-card {
        border: 1px solid darkgray;
        border-radius: 5px;
        margin-bottom: 1em;
        padding: 1em;
        ul {
            list-style: none;
            li {
                margin-left: 0;
            }
        }
    }

}